div.layer-template {
	display: none;
}

div.layer svg {
	display: block;
	margin: auto;
}

text.label {
	text-anchor: middle;
}

.label tspan {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	fill: #666;
}

rect.key {
  fill: #eee;
}

rect.highlight {
  fill: #e0e0e0;
}

rect.selected {
  fill: #aaa;
}
