$black:  black;
$celeste: #cccccc;
$cerulean:  deepskyblue;
$red:  red;
$alabaster: #fcfcfc;
$silver_chalice: #aaa;

$font_0: Helvetica;

.wrapper {
  padding: 20px 0;
}

.keyboard-form-panels {
  label, .form-group label {
    font-weight: normal;
    margin-bottom: 2px;
  }
  .form-group { margin-bottom: 5px; }
}

.layer-template {
  display: none;
}

.layer {
  position: relative;
}

.key {
  border: 1px solid $black;
  width: 54px;
  height: 54px;
  position: absolute;
  border-radius: 5px;
  background-color: $celeste;
  padding: 0;
  margin: 0;
  &:hover {
    border: 1px solid $cerulean;
  }
  &.selected {
    border: 1px solid $red;
  }
}

.keytop {
  background-color: $alabaster;
  border: solid 1px $silver_chalice;
  border-radius: 3px;
  display: block;
  position: relative;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 8px;
}

.l {
  font-family: $font_0;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  color: $black;
  font-weight: normal;
  padding: 0;
}

.l-tl {
  top: 2px;
  left: 2px;
  text-align: left;
}

.l-tc {
  top: 2px;
  left: calc(50% - 26px);
  width: 52px;
  text-align: center;
}

.l-tr {
  top: 2px;
  right: 2px;
  text-align: right;
}

.l-cl {
  top: calc(50% - 6px);
  left: 2px;
  text-align: left;
}

.l-cc {
  top: calc(50% - 6px);
  left: calc(50% - 26px);
  width: 52px;
  text-align: center;
}

.l-cr {
  top: calc(50% - 6px);
  right: 2px;
  text-align: right;
}

.l-bl {
  bottom: 2px;
  left: 2px;
  text-align: left;
}

.l-bc {
  bottom: 2px;
  left: calc(50% - 26px);
  width: 52px;
  text-align: center;
}

.l-br {
  bottom: 2px;
  right: 2px;
  text-align: right;
}

.l-fl {
  bottom: -11px;
  left: 2px;
  text-align: left;
}

.l-fc {
  bottom: -11px;
  left: calc(50% - 26px);
  width: 52px;
  text-align: center;
}

.l-fr {
  bottom: -11px;
  right: 2px;
  text-align: right;
}
